networkx
matplotlib
loguru
newspaper3k @ git+https://github.com/alexcannan/newspaper.git@master
fastapi
markupsafe
jinja2
uvicorn[standard]
yarl
pytest
mypy
sse-starlette
jinja2
py2neo
redis
aiohttp
celery
celery-aio-pool