<html>
<head>
<meta charset="utf-8" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖇️</text></svg>">
<link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>{{ title }}</title>
<meta property="og:title" content="SOURCESPACE"/>
<meta property="og:description" content="Article Source Aggregator"/>
<base target="_blank">
<style>
{% include 'style.css' %}
</style>
<script>
{% include 'cytoscape.min.js' %}
</script>
<script>
{% include 'cytoscapehtml.min.js' %}
</script>
<script>
{% include 'article.js' %}
</script>
<div class="hiddensvg" style="display: none;">
  <svg width="0" height="0">
    <defs>
        <symbol id="outlinksvg" viewBox="0 0 30 30">
          <path d="M 25.980469 2.9902344 A 1.0001 1.0001 0 0 0 25.869141 3 L 20 3 A 1.0001 1.0001 0 1 0 20 5 L 23.585938 5 L 13.292969 15.292969 A 1.0001 1.0001 0 1 0 14.707031 16.707031 L 25 6.4140625 L 25 10 A 1.0001 1.0001 0 1 0 27 10 L 27 4.1269531 A 1.0001 1.0001 0 0 0 25.980469 2.9902344 z M 6 7 C 4.9069372 7 4 7.9069372 4 9 L 4 24 C 4 25.093063 4.9069372 26 6 26 L 21 26 C 22.093063 26 23 25.093063 23 24 L 23 14 L 23 11.421875 L 21 13.421875 L 21 16 L 21 24 L 6 24 L 6 9 L 14 9 L 16 9 L 16.578125 9 L 18.578125 7 L 16 7 L 14 7 L 6 7 z"></path>
        </symbol>
    </defs>
  </svg>
</div>
</head>
<body>
  <div id="graph"></div>
  <form id="sseForm">
    <label for="urlInput">URL to parse</label>
    <input type="text" id="urlInput" required>
    <br>
    <button type="submit">Get Source</button>
  </form>
</body>
</html>